

<my-nav></my-nav>

<div class="container-fluid homeBackground">
    <div class = "row">
        <div class="parallaxOne">
            <div class="parallaxStuff">
                <h1 class="col-xs-offset-4 col-xs-4"> Omelet Haven</h1>


            </div>
            <div class="omeletForAll col-xs-4 col-xs-offset"  ng-repeat = "omelet in omelets track by $index">

                <div>Omelet Name: {{omelet.title}}</div>
                <div>Description: {{omelet.description}}</div>
                <div>Ingredients are: {{omelet.ingredients}}</div>
                <div>Amount of Eggs Used: {{omelet.eggs}}</div>
                <img class="myImages" ng-src="{{omelet.img}}">
                <button class="btn btn-danger" type="submit" ng-click="deleteMe(omelet)">Delete</button>
            </div>
        </div>

    </div>

    <div class = "row">
        <div class="parallaxTwo">
            <div class="parallaxStuff">
                <h1 class="col-xs-offset-4 col-xs-4"> Omelet Creation Center</h1>

            </div>

        </div>
        <form class="groceryForm">
            <div>
                <input class="col-xs-5 col-xs-offset-1 ingredBox"  type="text" ng-model="omelet.title" placeholder="Omelet Name">
                <input class="col-xs-5 ingredBox" type="text" ng-model="omelet.description" placeholder="Omelet Description" >
                <input class="col-xs-5 ingredBox col-xs-offset-1" type="text" ng-model="omelet.ingredients" placeholder="Ingredients Used">
                <input class="col-xs-5 ingredBox" type="number" ng-model="omelet.eggs"  placeholder="Amount of Eggs">
                <input class="col-xs-6 col-xs-offset-3 ingredBox" type="URL" ng-model="omelet.img"  placeholder="Image Url">
                <button  class="col-xs-4  col-xs-offset-4 btn btn-success" ng-click="omeletFunction(omelet)">Submit</button>
            </div>
        </form>
    </div>
</div>