<my-nav></my-nav>

    <div class="row">
        <div class="col-xs-4 col-xs-offset-4 formHead">

            <h1>Contact Form</h1>

            <form id="contactForm" class="" action="https://formspree.io/tremetitus@gmail.com"
                  method="POST">
                    <input type="text" placeholder="Name" class="inputName" name="name">
                    <input type="email" placeholder="Email Address" class="inputName" name="_replyto">
                <textarea name="message"  placeholder="Leave Message" class="inputName"></textarea>
                    <input type="submit" class="inputName btn btn-success" value="Send">
            </form>

        </div>
    </div>
